/* Base styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
}

/* Header */
header {
    background-color: #fff;
    padding: 1rem;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 2rem;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

/* Hero Section */
#hero {
    background-image: url('../images/background-image.png');
    background-size: cover;
    background-position: center;
    padding-top: 950px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
   
}

#hero h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.app-buttons {
    margin-top: 2rem;
}

.btn {
    display: inline-block;
    padding: 0.8rem 2rem;
    text-decoration: none;
    border-radius: 30px;
    margin: 0 1rem;
    font-weight: bold;
}

.btn-primary {
    background-color: #FA4A0C;
    color: #fff;
    padding:20px 75px 20px 75px;
}

.btn-secondary {
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;
    padding:20px 75px 20px 75px;
}

.app-preview {
    margin-top: 4rem;
}

.app-preview img {
    width: 800px;
    height: auto;
}

/* How it works section */
#how-it-works {
    padding: 4rem 2rem;
}

#how-it-works h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-top: 650px;
    margin-bottom: 3rem;
}

hr{
    border: 2px solid grey;
    margin: 0px 500px 0px 500px;
}

.feature {
    display: flex;
    align-items: center;
    margin: 30px 400px 30px 400px;
    margin-bottom: 4rem;
}

.feature-image, .feature-text {
    flex: 1;
    margin: 0px 70px 0px 70px;
}

.feature-image img {
    width: 400px;
    height: auto;
}

.feature-text h3 {
    font-size: 2rem;
    color: #FA4A0C;
    margin-bottom: 1rem;
}

/* Footer */
footer {
    display: flex;
    justify-content: space-around;
    align-items:center;
    background-color: #252B42;
    color: #fff;
    text-align: center;
    padding: 2rem;
}



.social-icons {
    margin: 1rem 0;
}

.social-icons a {
    margin: 0 0.5rem;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    nav ul {
        display: none; 
    }

    #hero h1 {
        font-size: 2rem;
    }

    .feature {
        flex-direction: column;
    }

    .feature-image, .feature-text {
        width: 100%;
        text-align: center;
    }
}